@import "../../../../../style/konfiguracja-szablonu";

$stopka-prawa-autorskie-wysokosc: 100px;
// *{
//   font-family: 'Roboto Condensed', "Helvetica Neue", sans-serif;
// }
.stopka-linki{
  height: calc(100% - #{$stopka-prawa-autorskie-wysokosc});
}
.roboto{
  font-family: 'Roboto Condensed';
}
.stopka-link {
  display: list-item;
  list-style: disc outside;
  margin-left: 20px;
}

.stopka-prawa-autorskie {
  color: $miasto-bialy;
  height: $stopka-prawa-autorskie-wysokosc;
  border-top: 1px solid white;
}
