<div *ngIf="!(interfejsUzytkownika$ | async)?.mapaNawigacja?.ukryta && sterowanieMapyWidoczne" class="sterowanie-mapy"
  [class.margines-dolny]="marginesDolnyWlaczony">
  <div class="moja-pozycja" tabindex="0" (keyup.enter)="mojaLokalizacja()" (click)="mojaLokalizacja()">
    <span mmIkonaSvg="wyznacz_lokalizacje" matTooltip="{{'codes.obsluga-map.wyznacz-lokalizacje' | translate}}"></span>
  </div>
  <div class="srodek-mapy" *mmTylkoDesktop tabindex="0" (keyup.enter)="srodekMapy()" (click)="srodekMapy()">
    <span libIkonaSvg="srodek_mapy" matTooltip="{{'codes.obsluga-map.pelny-zasieg-mapy' | translate}}"></span>
  </div>
  <div class="przybliz" *mmTylkoDesktop tabindex="0" (keyup.enter)="przybliz()" (click)="przybliz()">
    <span libIkonaSvg="przybliz" matTooltip="{{'codes.obsluga-map.przybliz' | translate}}"></span>
  </div>
  <div class="oddal" *mmTylkoDesktop tabindex="0" (keyup.enter)="oddal()" (click)="oddal()">
    <span mmIkonaSvg="oddal" matTooltip="{{'codes.obsluga-map.oddal' | translate}}"></span>
  </div>
</div>
