@import "../../../../../../style/mm-style/mm-konfiguracja-szablonu.scss";
$karta-mapy-rodzaj-wysokosc: 1.5rem;

.kontener-narzedzia {
  height: 100%;
  width: 100%;

  .paski-czasu {
    height: 100%;
    width: 100%;

    .tytul {

      color: $miasto-pomarancz;
      min-height: 80px;
      // max-height: 90px;
      // text-overflow: ellipsis;
      // overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      // -webkit-line-clamp: 3;
      // -webkit-line-clamp: 2;

      &.hidden {
        display: none;
      }
    }

    .grupy-paska-czasu {



      .grupa {
        height: calc(1.5rem + 150px);
        margin-top: 25px;
        // box-shadow: 5px 10px 8px #333;
        .grupa-top {
          border-top: 1px solid $miasto-blekit;
          border-left: 1px solid $miasto-blekit;
          border-right: 1px solid $miasto-blekit;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 150px;
          width: auto;
          color: #EDEEF4;
          background-color: $miasto-blekit;
          cursor: pointer;

          text-align: center;

          // height: 150px;
          // background-color: $miasto-bialy;
          // border: 2px solid $miasto-blekit;
          // color: $miasto-blekit;
          // display: flex;
          // /* justify-items: center; */
          // padding: 10px;
          // cursor: pointer;

          div.nazwa {
            text-transform: uppercase;
            // color: #09c;
            font-family: "Optimum";
            font-size: 1.2rem;
            // font-weight: 700;
            min-height: unset;

            // width: 100%;
            // height: 100%;
            // text-align: center;
            // /* vertical-align: middle; */
            // font-family: "Optimum";
            // font-size: 1.3rem;
            // margin: auto;
            // text-transform: uppercase;
          }
        }

        div.rodzaj-mapy {
          color: $miasto-bialy;
          // background-color: $miasto-blekit;
          background-color: #C22F25;
          // background-color: $miasto-blekit-dark;
          // color: $miasto-blekit-dark;
          // background-color: $miasto-blekit-20p;
          // font-family: 'LinuxBiolinumORegular';
          font-family: 'Optimum';
          font-weight: normal;
          font-style: normal;
          text-align: center;
          // padding-top: 2px;
          font-size: 1rem;
          height: $karta-mapy-rodzaj-wysokosc;
        }
      }

      :hover {
        .grupa-top {
          background-color:  #EDEEF4;
          // font-weight: 700;
          color: $miasto-blekit;
        }
      }
    }
  }




}
