<div class="kontener-narzedzia">
  <div *ngIf="mapa" class="przegladanie" [class.hidden]="!obszarWidoczny">
    <div class="tytul naglowek-c">
      {{'codes.modul-mapowy.belka-boczna.przegladaj-w-obszarze' | translate}}
    </div>
    <div class="tekst-d">  {{'codes.generyczne.w-przygotowaniu' | translate}}</div>
  </div>
  <div class="kontroler" [ngClass]="'poz-'+widok.kolejnosc" [class.widoczna]="obszarWidoczny" [tabindex]="0"
    (keyup.enter)="przeniesNaWierzch()" (click)="przeniesNaWierzch()" matTooltipPosition="right"
    matTooltip="{{'codes.modul-mapowy.belka-boczna.przegladaj-w-obszarze' | translate}}">
    <span mmIkonaSvg="explore24" class="ikona"></span>
  </div>
</div>
