.kontakt-dialog{
  position: relative;
  background-color: white;
  overflow-x: hidden;
  .przycisk-zamknij {
    position: absolute;
    height: 62px;
    width: 62px;
    top: 0;
    right: 0;
  }
}

