@import "../../../../../style/konfiguracja-szablonu";

$wysokosc-przycisku: 63px;

button{
  height: $wysokosc-przycisku;
  width: $wysokosc-przycisku;
  color: $miasto-blekit;
}

.przycisk-ikona{
  width: 27px !important;
}
