<div class="belka-karta-mapy"
[tabIndex]="0"
(tap)="tap($event)"
(pressup)="press()"
(click)="klikEnter($event)"
(keyup.enter)="klikEnter($event)"
[class.miniaturka-ukryta]="miniaturkaUkryta"
[ngClass]="{'szczegoly': szczegoly }">
<div class="tytul uppercase p-2">
  <span class="um-tytul-mapa-belka">{{temat.nazwaMapy}}</span>
</div>
<div class="miniaturka um-desktop:miniaturka-desktop"
  [style.backgroundImage]="'url(' + temat!.sciezkaDoPlikuZGrafika + ')'">
</div>
<div class="opis">
  <div class="opis-tresc tekst-e text-left p-1 pb-5 ...">
    {{temat.opisKafelka}}
  </div>
  <!-- <div class="opis-przycisk w-full justify-center items-center"> -->
    <!-- <mm-przycisk-okragly *ngIf="!zmianaMapy"
                          tabindex="0" typ="PRIMARY"
                          ikona="prawa-strzalka" [link]="'/mapa/'+temat.uuidMapy" [href]="adresUrl"
                          label="{{'codes.strona-startowa.etykieta-przejdz-do-mapy' | translate}}">
    </mm-przycisk-okragly>
    <mm-przycisk-okragly *ngIf="zmianaMapy"
                          tabindex="0" typ="PRIMARY"
                          ikona="prawa-strzalka"
                          label="{{'codes.strona-startowa.etykieta-przejdz-do-mapy' | translate}}">
    </mm-przycisk-okragly> -->
  <!-- </div> -->
</div>
<div class="tekst-d rodzaj-mapy">
 {{'codes.modul-mapowy.belka-boczna.'+temat.rodzaj | translate | titlecase}}
</div>
