@import '../../../../../../style/mm-style/mm-konfiguracja-szablonu.scss';


.pasek-czasu {
  position: absolute;
  bottom: 60px;
  // height: 180px;
  // width: 60%;
  // left: calc(50% - 30%);

  height: 150px;
  width: 98%;
  left: 1%;
  background: white;
  z-index: 15;

  .tytul-wrapper {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    line-height: 2rem;
    margin-right: 60px;
    display: flex;
    justify-content: center;

    .tytul-desktop {
      color: $miasto-czarny;
      margin-right: 10px;
    }

    .tytul-all {
      color: $miasto-pomarancz;
    }
  }

  .tekst-b {
    margin-top: 30px;
    margin-left: 20px;
  }

  .slider-mobile {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    padding: 15px 80px;
    height: 120px;



    .w-lewo {
      position: absolute;
      top: 40px;
      left: 40px;
      cursor: pointer;
    }

    .w-prawo {
      position: absolute;
      top: 40px;
      right: 40px;
      cursor: pointer;
    }

    .mobile-legend {
      display: block;
      width: 100%;
      height: 30px;
      font-size: 1.1rem;
      margin-top: -20px;
      text-align: center;
    }
  }

  .slider-desktop {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    padding: 15px 80px;
    height: 120px;

    .ngx-slider .ngx-slider-tick-legend {
      visibility: visible !important;
    }

    .w-lewo {
      position: absolute;
      top: 40px;
      left: 40px;
      cursor: pointer;
    }

    .w-prawo {
      position: absolute;
      top: 40px;
      right: 40px;
      cursor: pointer;
    }
  }


  .zamknij {
    position: absolute;
    top: 0;
    right: 0;
    width: 61px;
    height: 61px;
  }
}

@media (min-width: $prog-przelaczenia) {
  .pasek-czasu {
    bottom: 20px;
    height: 180px;
    width: calc(100% - 230px);
    // left: calc(50% - 30%);
    left: 160px;

    .tytul-wrapper {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-left: 2rem;
      line-height: 2rem;
      margin-right: 60px;
      display: flex;
      justify-content: center;

      .tytul-desktop {
        color: $miasto-czarny;
        margin-right: 10px;
      }

      .tytul-all {
        color: $miasto-pomarancz;
      }
    }
  }
}
