<div class="kontener-narzedzia">

  <div class="szlaki" [class.hidden]="!obszarWidoczny">
    <div class="tytul naglowek-a" [class.hidden]="!obszarWidoczny">
      {{'codes.modul-mapowy.belka-boczna.szlaki' | translate}}
    </div>
  </div>
  <div class="kontroler" [tabindex]="0" [class.widoczna]="obszarWidoczny"
  [ngClass]="'poz-'+widok.kolejnosc"
  (keyup.enter)="przeniesNaWierzch()"
  (click)="przeniesNaWierzch()"
  matTooltipPosition="right"
    matTooltip="{{'codes.modul-mapowy.belka-boczna.szlaki' | translate}}">
    <span mmIkonaSvg="szlaki24" class="ikona"></span>
  </div>
</div>
