<div class="kontener-narzedzia">

  <div *ngIf="mapa" class="tematy" [class.hidden]="!obszarWidoczny" >
    <div class="tytul naglowek-a">
      <p>os-tematy works!</p>
    </div>
  </div>
  <div class="kontroler poz-2"
    [class.widoczna]="obszarWidoczny"
    [tabindex]="0"
    (keyup.enter)="przeniesNaWierzch()"
    (click)="przeniesNaWierzch()"
    matTooltipPosition="right"
    matTooltip="{{'codes.modul-mapowy.belka-boczna.tematy' | translate}}">
    <span mmIkonaSvg="tematy24" class="ikona"></span>
  </div>
</div>
