@import "../../../../../../style/mm-style/mm-konfiguracja-szablonu.scss";

.kontener-narzedzia {

  .tematy {
    height: 100%;
    width: 100%;
    .tytul {
      min-height: 80px;
      max-height: 90px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      -webkit-line-clamp: 2;
      &.hidden{
        display: none;
      }
    }



  }
}
