<div class="kontener-narzedzia">
  <mm-przewijany-komponent>
    <div class="tematy" [class.hidden]="!obszarWidoczny">
      <div class="naglowek-c">
        {{'codes.modul-mapowy.belka-boczna.tematy' | translate}}
      </div>
      <!-- <div class="lista-kategorii"> -->
      <div class="lista-kategorii" *ngFor="let temat of zbiorTematow">
        <mm-belka-karta-mapy [temat]="temat"></mm-belka-karta-mapy>
        <!-- <app-kategorie-map (mapaWybrana)="wybranoMape($event)" [zmianaMapy]="zmianaMapy || wyborMapyDoPorownania"
        [kategoriiMap]="kategoria">
      </app-kategorie-map> -->
      </div>
      <!-- </div> -->
    </div>
    <div class="kontroler poz-2" [class.widoczna]="obszarWidoczny" [tabindex]="0" (keyup.enter)="przeniesNaWierzch()"
      (click)="przeniesNaWierzch()" matTooltipPosition="right"
      matTooltip="{{'codes.modul-mapowy.belka-boczna.tematy' | translate}}">
      <span mmIkonaSvg="tematy24" class="ikona"></span>
    </div>
  </mm-przewijany-komponent>
</div>
