@import "../../../../../../style/mm-style/mm-konfiguracja-szablonu.scss";

.kontener-narzedzia {
  height: 100%;
  width: 100%;
  .tematy {
    height: 100%;
    width: 100%;

    .tytul {

      color: $miasto-pomarancz;
      min-height: 80px;
      // max-height: 90px;
      // text-overflow: ellipsis;
      // overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      // -webkit-line-clamp: 3;
      // -webkit-line-clamp: 2;

      &.hidden {
        display: none;
      }

    }

    .lista-kategorii {
      margin-top: 20px;
      display: inline-table;

      width: calc($legenda-szerokosc - 20px) / 2;

      mm-belka-karta-mapy {

      }
    }


  }
}
