.serwis-mapowy {

  .ngx-slider.animate .ngx-slider-pointer,
  .ngx-slider .ngx-slider-pointer.ngx-slider-active {
    width: 22px;
    height: 22px;
    top: -10px;
    background-color: $miasto-blekit;

    .ngx-slider .ngx-slider-tick-legend {
      font-size: 1.3rem;
      width: 200px;
      max-width: 200px;
    }
  }

  .ngx-slider.animate .ngx-slider-pointer:after {
    background: none;
  }

  .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
    background: none;
  }

  .ngx-slider .ngx-slider-bar {
    height: 2px;
    background-color: $miasto-szary;
  }

  .ngx-slider .ngx-slider-inner-tooltip {
    display: none;
  }

  .ngx-slider.animate .ngx-slider-pointer {
    transition: none;
  }

  ngx-slider {
    span.ngx-slider-ticks {
      span {
        // span {

        // .ngx-slider .ngx-slider-tick-legend
display: none;
        // visibility: hidden !important;
        // }
      }
    }
  }

  // .ngx-slider-ticks{
  //   visibility: hidden !important;
  // }
  .ngx-slider .ngx-slider-tick-legend {
    font-size: 1.3rem;
    width: 200px;
    max-width: 200px;
  }
}

@media (min-width: $prog-przelaczenia) {
  ngx-slider {
    span.ngx-slider-ticks {
      span {
        // span {

        // .ngx-slider .ngx-slider-tick-legend
display: inline!important;
        // visibility: visible !important;
        // }
      }
    }
  }
}
