.naglowek-a {
  font-weight: bold;
  font-size: 2rem;
}

.naglowek-b {
  font-size: 2rem;
  font-weight: normal;
}

.naglowek-c {
  font-size: 1.5rem;
  font-weight: bold;
}

.naglowek-d {
  font-size: 1.3rem;
  font-weight: bold;
}

.naglowek-e {
  font-size: 1.1rem;
  font-weight: bold;
}

.naglowek-f {
  font-size: 1rem;
  font-weight: bold;
}

.tekst-a {
  font-size: 1.5rem;
}

.tekst-b {
  font-size: 1.3rem;
  line-height: 2rem;
}

.tekst-c {
  font-size: 1.1rem;
}

.tekst-d {
  font-size: 1rem;
}
