<div class="karta-mapy h-full w-full"
     [class.miniaturka-ukryta]="miniaturkaUkryta"
     [ngClass]="{'szczegoly': szczegoly }"
     (tap)="tap($event)"
     (pressup)="press()"
     (click)="klikEnter($event)"
     (keyup.enter)="klikEnter($event)" tabindex="0">
  <div class="tytul uppercase p-2">
    <span class="um-tytul-mapa">{{mapa?.nazwaMapy}}</span>
  </div>
  <div class="miniaturka um-desktop:miniaturka-desktop"
       [style.backgroundImage]="'url(' + mapa!.sciezkaDoPlikuZGrafika + ')'">

  </div>
  <div class="opis">
    <div class="opis-tresc text-center p-4 um-desktop:px-4 um-desktop:p-0 overflow-ellipsis overflow-hidden ...">
      {{mapa?.opisKafelka}}
    </div>
    <div class="opis-przycisk w-full justify-center items-center">
      <mm-przycisk-okragly *ngIf="!zmianaMapy"
                            tabindex="0" typ="PRIMARY"
                            ikona="prawa-strzalka" [link]="'/mapa/'+mapa?.uuidMapy" [href]="adresUrl"
                            (click)="zapiszParametryWLocalStorage()"
                            (tap)="zapiszParametryWLocalStorage()"
                            (keyup.enter)="zapiszParametryWLocalStorage()"
                            label="{{'codes.strona-startowa.etykieta-przejdz-do-mapy' | translate}}">
      </mm-przycisk-okragly>
      <mm-przycisk-okragly *ngIf="zmianaMapy"
                            tabindex="0" typ="PRIMARY"
                            ikona="prawa-strzalka"
                            label="{{'codes.strona-startowa.etykieta-przejdz-do-mapy' | translate}}">
      </mm-przycisk-okragly>
    </div>
  </div>
</div>
