//Wymiary
$naglowek-paska-bocznego-wysokosc: 65px;
$pasek-boczny-szrokosc: 457px;
$main-naglowek-wysokosc: 133px;
$stopka-wysokosc: 418px;
$stopka-prawa-autorskie-wysokosc: 100px;
$szerokosc-logo: 227px;
$pasek-lewy-szerokosc: 227px;


//Kolory
$miasto-bialy: white;
$miasto-czarny: black;
$miasto-blekit: #0099cc;
// $miasto-blekizt: #82231E;
$miasto-blekit-30p: #4DB8DC;
// $miasto-blekit-30p:#B47B78;
$miasto-blekit-20p: #CCE9F5;
// $miasto-blekit-20p: #D2AFAE;
$miasto-pomarancz: #ff9900;
// $miasto-pomarancz:#1E7D82;
$miasto-szary: #737373;
$miasto-szary-tlo: #F9F9F9;
$miasto-szary-tekst: #737373;
$miasto-kolor-blad: #CC3333;
$miasto-zielony: #4EA059;

//Bazowy font
$bazowy-rozmiar-czcionki: 16px;
$bazowy-mobilny-rozmiar-czcionki:12px;
$prog-przelaczenia: 900px
