@import "../../../../style/konfiguracja-szablonu.scss";

$min-content-height: calc(100vh - #{$main-naglowek-wysokosc} - #{$stopka-wysokosc});

.main {
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  background-color: white;
}

.main::-webkit-scrollbar {
  display: none;
}

.main::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.background{
  background-color: aquamarine;
}
.background-main{
  background-color: plum;
}
.main-header {
}

.main-footer {
  min-height: $stopka-wysokosc;
}

.main-content {
  min-height: $min-content-height;
display: flex;
}

.aside-header {
  position: relative;
  height: $naglowek-paska-bocznego-wysokosc;
  background-color: $miasto-czarny;
}

.aside-content {
  height: calc(100% - #{$naglowek-paska-bocznego-wysokosc});
  background: $miasto-bialy;
  overflow-y: auto;
}

.desktop-wcag-controller {
  position: absolute;
  top: 0;
  left: -$naglowek-paska-bocznego-wysokosc;
  height: $naglowek-paska-bocznego-wysokosc;
  width: $naglowek-paska-bocznego-wysokosc;
  background: $miasto-czarny;
  color: $miasto-bialy;
}

.mobile-wcag-controller {
  position: relative;
  height: $naglowek-paska-bocznego-wysokosc;
  width: $naglowek-paska-bocznego-wysokosc;
}

.mobile-aside-wcag-controller {
  position: absolute;
  height: $naglowek-paska-bocznego-wysokosc;
  width: $naglowek-paska-bocznego-wysokosc;
  left: 0;
  top: 0;
  color: $miasto-bialy;
}

.aside-show-button {
  position: relative;
  height: $naglowek-paska-bocznego-wysokosc;
  width: $naglowek-paska-bocznego-wysokosc;
  color: $miasto-blekit; //TODO do zmiany nazewnictwo kolorów
}

.boczna-nawigacja-zawsze-widoczna {
  display: flex !important;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aside-close-button {
  position: absolute;
  top: 0;
  right: 0;
  height: $naglowek-paska-bocznego-wysokosc;
  width: $naglowek-paska-bocznego-wysokosc;
  color: $miasto-blekit;
}

.menu-mobilne-ikona {
  width: 57px !important;
  color: $miasto-bialy;
}

.menu-mobilne-otworz-ikona {
  width: 57px !important;
  color: $miasto-czarny;
}

// @tailwind base;
// @tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {

    .logo {
      width: $szerokosc-logo;
      cursor: pointer;
    }

    .tytul-strony {
      width: calc(100% - #{$szerokosc-logo} - 1px);
    }

    .main-content-paddings {
      --w1:calc(100vw - 1550px);
      --x1:calc(227 / 370);
      --x2:calc(100 / 370);
      --w2:calc(var(--w1) * var(--x1));
      --w3:calc(var(--w1) * var(--x2));
      // padding-left: var(--w2); //227px !important;
      padding-right: var(--w3); //100px !important;
      padding-top: 0;
      padding-bottom: 100px;
    }

    .small-content-paddings {
      padding-left: 20px;
      padding-right: 20px;
    }

    .large-content-paddings {
      padding-left: 20px;
      padding-right: 20px;
      div {
        // max-width: 1080px;
        margin: 0 auto;
      }
    }

    .tytyl-padding {
      padding-left: 0px;
      padding-right: 100px;
    }
    .um-tytul {
      font-size: 1.3rem;
      font-weight: bold;
      font-family: 'Roboto Condensed', "Helvetica Neue", sans-serif !important;
    }
    .tlo-desktop {
      background-image: url("../../../../assets/images/tlo1b.png");
      background-position: top right;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .aside {
      flex: 0 0 $pasek-boczny-szrokosc;
      min-width: 250px;
      height: 100vh;
    }

    .aside-zmniejszony {
      flex: 0 0 $pasek-boczny-szrokosc - 100;
      min-width: 250px;
      height: 100vh;
    }
    .lewa-strona{
      min-width: $pasek-lewy-szerokosc;
      max-width: $pasek-lewy-szerokosc;
    }
  }
}
