<ng-container>
  <ng-container *ngFor="let widok of listaWidokow;trackBy: trackByFn; let i = index; ">
    <!-- <mm-os-przegladanie *ngIf="widok.id===WIDOKI_ID.PRZEGLADANIE"
      [style.zIndex]="widok.id===topId ? widok.zIndex+1 : widok.zIndex" [widok]="widok"
      [obszarWidoczny]="widok.id===topId" [mapa]="mapa">
    </mm-os-przegladanie> -->
    <mm-os-tematy *ngIf="widok.id===WIDOKI_ID.TEMATY" [style.zIndex]="widok.id===topId ? widok.zIndex+1 : widok.zIndex"
      [widok]="widok" [obszarWidoczny]="widok.id===topId" [mapa]="mapa">
    </mm-os-tematy>
    <mm-os-mapy-plany *ngIf="widok.id===WIDOKI_ID.MAPY_PLANY"
      [style.zIndex]="widok.id===topId ? widok.zIndex+1 : widok.zIndex" [widok]="widok"
      [obszarWidoczny]="widok.id===topId" [mapa]="mapa">
    </mm-os-mapy-plany>
    <mm-os-szlaki *ngIf="widok.id===WIDOKI_ID.SZLAKI" [obszarWidoczny]="widok.id===topId" [widok]="widok"
      [style.zIndex]="widok.id===topId ? widok.zIndex+1 : widok.zIndex">
    </mm-os-szlaki>
    <mm-os-pasek-czasu *ngIf="widok.id===WIDOKI_ID.PASKI_CZASU" [obszarWidoczny]="widok.id===topId" [widok]="widok"
      [style.zIndex]="widok.id===topId ? widok.zIndex+1 : widok.zIndex" [mapa]="mapa"></mm-os-pasek-czasu>
    <mm-os-tagi *ngIf="widok.id===WIDOKI_ID.TAGI  && widokMapyId===WIDOKI_MAPY_ID.WIDOK_MAPY" [obszarWidoczny]="widok.id===topId" [widok]="widok"
      [mapView]="mapView!" [style.zIndex]="widok.id===topId ? widok.zIndex+1 : widok.zIndex" [mapa]="mapa!">
    </mm-os-tagi>
    <mm-os-info *ngIf="mapa && widok.id===WIDOKI_ID.INFO && widokMapyId===WIDOKI_MAPY_ID.WIDOK_MAPY" [obszarWidoczny]="widok.id===topId" [widok]="widok"
      [style.zIndex]="widok.id===topId ? widok.zIndex+1 : widok.zIndex" [mapa]="mapa">
    </mm-os-info>
  </ng-container>
</ng-container>
