<div class="kontener-narzedzia">
  <mm-przewijany-komponent>
    <div *ngIf="mapa" class="info" [class.hidden]="!obszarWidoczny">
      <div class="naglowek-c">{{'codes.modul-mapowy.belka-boczna.info' | translate}}</div>
      <div class="tytul naglowek-a">
        {{mapa.nazwa | wyborTlumaczenia:aktualnyJezyk}}
      </div>

      <div *ngIf="mapa.rodzaj; else default_content" class="rodzaj-mapy">{{'codes.modul-mapowy.belka-boczna.'+mapa.rodzaj | translate}}
        <span class="text-gray-300">|</span>
        {{'codes.modul-mapowy.belka-boczna.liczba-obiektow' | translate}}
      </div>
<ng-template #default_content>
  <div class="rodzaj-mapy">{{'codes.strona-startowa.mapy' | translate}}
    <!-- <span class="text-gray-300">|</span>
    {{'codes.modul-mapowy.belka-boczna.liczba-obiektow' | translate}} -->
  </div>
</ng-template>

      <img *ngIf="mapa.sciezkaDoPlikuZGrafika" width="450px" class="miniaturka" [src]="mapa.sciezkaDoPlikuZGrafika"
        [alt]="('codes.modul-mapowy.belka-boczna.zdjecie' | translate) + (mapa.nazwa | wyborTlumaczenia:aktualnyJezyk)"
        loading="lazy">
      <div class="opis tekst-b">
        {{mapa.opisWPortaluMapowym | wyborTlumaczenia:aktualnyJezyk}}
      </div>
      <div class="opis tekst-b">
        {{mapa.opisWPortaluMapowym | wyborTlumaczenia:aktualnyJezyk}}
      </div>
      <div class="opis tekst-b">
        {{mapa.opisWPortaluMapowym | wyborTlumaczenia:aktualnyJezyk}}
      </div>

    </div>
    <div class="kontroler" [tabindex]="0" [class.widoczna]="obszarWidoczny" (keyup.enter)="przeniesNaWierzch()"
    [ngClass]="'poz-'+widok.kolejnosc"
      (click)="przeniesNaWierzch()" matTooltipPosition="right"
      [matTooltip]="this.tooltip">
      <span mmIkonaSvg="info24" class="ikona"></span>
    </div>
  </mm-przewijany-komponent>
</div>
