<div class="kontener-narzedzia">
  <div *ngIf="mapa" class="info" [class.hidden]="!obszarWidoczny">
    <div class="naglowek-c">{{'codes.modul-mapowy.belka-boczna.info' | translate}}</div>
    <div class="tytul naglowek-a">
      {{mapa.nazwa | wyborTlumaczenia:aktualnyJezyk}}
    </div>

    <div class="rodzaj-mapy">{{'codes.modul-mapowy.belka-boczna.'+rodzaj | translate}}
      <span class="text-gray-300">|</span>
      {{'codes.modul-mapowy.belka-boczna.liczba-obiektow' | translate}}
    </div>
    <div class="opis tekst-b">
      {{mapa.opisWPortaluMapowym | wyborTlumaczenia:aktualnyJezyk}}
    </div>
  </div>
  <div class="kontroler poz-5" [tabindex]="0" [class.widoczna]="obszarWidoczny" (keyup.enter)="przeniesNaWierzch()"
    (click)="przeniesNaWierzch()" matTooltipPosition="right"
    matTooltip="{{'codes.modul-mapowy.belka-boczna.info' | translate}}">
    <span mmIkonaSvg="info24" class="ikona"></span>
  </div>
</div>
