@import "../../../../../../style/mm-style/mm-konfiguracja-szablonu.scss";

.kontener-narzedzia {
  .info {
    height: 100%;
    width: 100%;

    .tytul {
      color: $miasto-pomarancz;
      // min-height: 80px;
      // max-height: 90px;
      // text-overflow: ellipsis;
      // overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      // -webkit-line-clamp: 3;
      // -webkit-line-clamp: 2;

      &.hidden {
        display: none;
      }
    }

    .rodzaj-mapy {
      padding: 10px;
      color: $miasto-pomarancz;
      border-bottom: 1px solid #D1D5DB;
      span{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .opis{
      margin-top: 20px;
    }
  }
  .miniaturka {
    // height: $karta-mapy-przycisk-wysokosc;
margin-top: 10px;

    height: auto;
    background-repeat: no-repeat;
  }
  // .legenda {
  //   height: 100%;
  //   width: 100%;
  //   .tytul {
  //     min-height: 80px;
  //     max-height: 90px;
  //     text-overflow: ellipsis;
  //     overflow: hidden;
  //     display: -webkit-box;
  //     -webkit-box-orient: vertical;
  //     -webkit-line-clamp: 3;
  //     -webkit-line-clamp: 2;
  //     &.hidden{
  //       display: none;
  //     }
  //   }



  // }
  mm-przewijany-komponent{
    // max-height: calc(100vh - 320px);
  }
}
.galeria-pelen-ekran {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;

  img {
    width: 100%;
    height:100%;
    object-fit:contain;

  }

  .zamknij {
    position: absolute;
    top: 0;
    right: 0;
    width: 61px;
    height: 61px;
  }
}
