@import "../../../../../../style/mm-style/mm-konfiguracja-szablonu.scss";

.kontener-narzedzia {
  .info {
    height: 100%;
    width: 100%;

    .tytul {
      color: $miasto-pomarancz;
      min-height: 80px;
      // max-height: 90px;
      // text-overflow: ellipsis;
      // overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      // -webkit-line-clamp: 3;
      // -webkit-line-clamp: 2;

      &.hidden {
        display: none;
      }
    }

    .rodzaj-mapy {
      padding: 10px;
      color: $miasto-pomarancz;
      border-bottom: 1px solid #D1D5DB;
      span{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .opis{
      margin-top: 20px;
    }
  }
  .miniaturka {
    // height: $karta-mapy-przycisk-wysokosc;
margin-top: 10px;
    margin-left: -20px;
    margin-right: -60px;
    max-width: 450px!important;
    height: min-content;
    background-repeat: no-repeat;
  }
  // .legenda {
  //   height: 100%;
  //   width: 100%;
  //   .tytul {
  //     min-height: 80px;
  //     max-height: 90px;
  //     text-overflow: ellipsis;
  //     overflow: hidden;
  //     display: -webkit-box;
  //     -webkit-box-orient: vertical;
  //     -webkit-line-clamp: 3;
  //     -webkit-line-clamp: 2;
  //     &.hidden{
  //       display: none;
  //     }
  //   }



  // }
  mm-przewijany-komponent{
    // max-height: calc(100vh - 320px);
  }
}
