<div class="strona-komunikatu">
  <div class="komunikat-ikona">
    <span class="material-icons">info</span>
  </div>
  <div class="zawartosc">
    <mm-przewijany-komponent>
      <div *ngIf="komunikat" class="w-full text-center break-words px-8 um-tekst-a">
        <div [innerHTML]="tresc"></div>
      </div>
    </mm-przewijany-komponent>
  </div>

  <div class="w-full flex mt-8 mb-8 justify-center">
    <app-przycisk-prostokatny typ="BASIC" (click)="zamknijOkno()"
                              label="{{'codes.generyczne.rozumiem' | translate}}">
    </app-przycisk-prostokatny>
  </div>
</div>
