<div class="informaje-o-obiekcie obiekt" *ngIf="informacjeOKliknietejPozycji" [style.left]="polozenieOknaOdLewej+'px'"
  [style.top]="polozenieOknaOdGory+'px'">
  <div class="naglowek" (swipeleft)="nastepnyObiekt()" (swiperight)="poprzedniObiekt()"
    *ngIf="wybranaWarstwaDoWyswietlenia && wybranaWarstwaDoWyswietlenia.obiekty[wybranaWarstwaDoWyswietlenia.aktualnyObiekt]">

    <span class="naglowek-d" #dlugaNazwa mmDlugieNazwy>
      <span class="naglowek-nazwa">
        {{wybranaWarstwaDoWyswietlenia.obiekty[wybranaWarstwaDoWyswietlenia.aktualnyObiekt].tytul}}
      </span>
      <span class="naglowek-warstwa">
        ({{wybranaWarstwaDoWyswietlenia.warstwa.nazwaOficjalna | wyborTlumaczenia:aktualnyJezyk}})
      </span>
    </span>
  </div>

  <div class="zawartosc" [class.z-nawigacja]="liczbaObiektow>1">
    <mm-przewijany-komponent>
      <div (swipeleft)="nastepnyObiekt()" (swiperight)="poprzedniObiekt()">
        <mm-obiekt-opis *ngIf="sekcjeOkna && sekcjeOkna.opis.widoczna && wybranaWarstwaDoWyswietlenia"
          [obiekt]="wybranaWarstwaDoWyswietlenia.obiekty[wybranaWarstwaDoWyswietlenia.aktualnyObiekt]"
          [nazwaWarstwy]="wybranaWarstwaDoWyswietlenia.warstwa.nazwaOficjalna">
        </mm-obiekt-opis>
      </div>
      <mm-obiekt-zalaczniki-i-zdjecia *ngIf="sekcjeOkna && wybranaWarstwaDoWyswietlenia"
        [warstwa]="wybranaWarstwaDoWyswietlenia.warstwa" [sekcjeOkna]="sekcjeOkna"
        [obiekt]="wybranaWarstwaDoWyswietlenia.obiekty[wybranaWarstwaDoWyswietlenia.aktualnyObiekt]">
      </mm-obiekt-zalaczniki-i-zdjecia>
      <div class="informacje-o-lokalizacji" (swipeleft)="nastepnyObiekt()" (swiperight)="poprzedniObiekt()"
        *ngIf="sekcjeOkna && sekcjeOkna.infoOPozycji.widoczna && wybranaWarstwaDoWyswietlenia">
        <mm-lokalizacja-opis
          [pozycjaGeograficzna]="wybranaWarstwaDoWyswietlenia.obiekty[wybranaWarstwaDoWyswietlenia.aktualnyObiekt].pozycja"
          [obiekt]="true"></mm-lokalizacja-opis>
      </div>
    </mm-przewijany-komponent>
  </div>
  <div class="nawigacja-po-obiektach" *ngIf="liczbaObiektow>1">
    <div class="licznik">{{numerAktualnegoObiektu}} {{'codes.modul-mapowy.generyczne.paginacja-z' | translate}}
      {{liczbaObiektow}}
    </div>
    <div class="nawigacja" (click)="poprzedniObiekt()">
      <mm-przycisk-ikona ikona="poprzedni" typ="'czarno-bialy'"></mm-przycisk-ikona>
    </div>
    <div class="nawigacja" (click)="nastepnyObiekt()">
      <mm-przycisk-ikona ikona="nastepny" typ="'czarno-bialy'"></mm-przycisk-ikona>
    </div>
  </div>
  <div class="zamknij" *ngIf="informacjeOKliknietejPozycji?.zadokowane">
    <mm-przycisk-ikona label="{{'codes.modul-mapowy.generyczne.zamknij' | translate}}" ikona="zamknij"
      typ="przezroczysty" (click)="zamknij()"></mm-przycisk-ikona>
  </div>
</div>
