@import "../../../../../../style/mm-style/mm-konfiguracja-szablonu.scss";

.przycisk-zamknij{
  position: absolute;
  height: $legenda-kontrolki-romiar;
  width: $legenda-kontrolki-romiar;
  top: 0;
  right: 0;
}


.kontakt-belka-boczna{
  background: $miasto-bialy;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}
