RewriteEngine On
 RewriteBase "/portal-historyczny/"
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
    RewriteRule ^ - [L]
RewriteRule ^ /portal-historyczny/index.html
