@import "../../../../../../style/mm-style/mm-konfiguracja-szablonu.scss";

.kontener-narzedzia {
  .info {
    height: 100%;
    width: 100%;

    .tagi {
      min-height: 80px;
      max-height: 90px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-line-clamp: 2;

      // .tematy-button {
      //   button {
      //   margin-top: 30px;}
      // }
      mm-przycisk-prostokatny {
        button {
          margin-top: 30px!important;
        }
      }

      &.hidden {
        display: none;
      }



      .lista-kategorii {
        flex-wrap: wrap;

      }
    }
  }

}

.filter-input {
  border: 1px solid $miasto-pomarancz !important;
  border-radius: 4px !important;
}
