<div class="kontroler-warstw-podkladowych" [class.prawa]="lokalizacjaMapPodkladowych!=='LEWA'">
  <!--Sekcja trybu prostego-->
  <div *ngIf="!trybZaawansowany" class="podklad-kafelek">
    <div class="obrazek" (click)="pokazKolejnaGrupeWarstw()" (keyup.enter)="pokazKolejnaGrupeWarstw()" tabindex="0">
      <img *ngIf="kolejnaGrupa" alt="Domyślna warstwa"
        [src]="kolejnaGrupa.warstwy[kolejnaGrupa.wybranaWarstwa?kolejnaGrupa.wybranaWarstwa:0].sciezkaDoPlikuGrafiki" />
    </div>
    <!--sekcja włączania trybu zawansowanego-->
    <div class="przelacznik-trybu">
      <mm-przycisk-ikona ikona="ustawienia_czarne" *mmTylkoDesktop
        label="{{'codes.modul-mapowy.obsluga-map.zaawansowane-opcje-zmiany-mapy' | translate}}"
        (onClick)="ustawTrybZawnsowany($event)" [typ]="PRZYCISK_IKONA_TYP.CZARNO_BIALY"></mm-przycisk-ikona>
    </div>
  </div>
  <!--Sekcja trybu zawansowanego-->
  <div class="tryb-zaawansoany" *ngIf="trybZaawansowany && grupyWarstwPodkladowych.length>1">
    <div *ngFor="let kafelek of grupyWarstwPodkladowych; let indeksKafelka = index" class="podklad-kafelek"
      [class.wybrany]="indeksKafelka===indeksWybranejGrupy">
      <img *ngIf="kolejnaGrupa" alt="{{kafelek.nazwa}}" tabindex="0"
        [src]="kafelek.warstwy[kafelek.wybranaWarstwa?kafelek.wybranaWarstwa:0].sciezkaDoPlikuGrafiki"
        (click)="zaladujGrupeWarstw(indeksKafelka)" (keyup.enter)="zaladujGrupeWarstw(indeksKafelka)" />
    </div>
    <!--Sekcja listy warstw w grupie-->
    <div class="lista-warstw" *ngIf="grupyWarstwPodkladowych[indeksWybranejGrupy].warstwy.length>1">
      <mm-przewijany-komponent>
        <div class="element-listy-warstwa tekst-b"
          *ngFor="let warstwa of grupyWarstwPodkladowych[indeksWybranejGrupy].warstwy; let indeksWarstwy = index"
          [class.zaznaczony]="grupyWarstwPodkladowych[indeksWybranejGrupy].wybranaWarstwa===indeksWarstwy"
          [tabindex]="0" (keyup.enter)="zaladujWarstweZGrupy(indeksWarstwy)"
          (click)="zaladujWarstweZGrupy(indeksWarstwy)">
          {{warstwa.nazwa | wyborTlumaczenia:aktualnyJezyk}}
        </div>
      </mm-przewijany-komponent>
    </div>
    <!--przycisk zamykania trybu zawansowanego-->
    <div class="przycisk-zamknij">
      <mm-przycisk-ikona ikona="zamknij" label="{{'codes.generyczne.zamknij' | translate}}" (click)="ustawTrybProsty()"
        [typ]="PRZYCISK_IKONA_TYP.PRZEZROCZYSTY"></mm-przycisk-ikona>
    </div>
  </div>
</div>
