<div class="serwis-mapowy">
  <div class="pasek-narzedzi">
    <div class="sekcja-lewa">
      <div class="strona-startowa-przycisk">
        <mm-przycisk-ikona [typ]="PRZYCISK_IKONA_TYP.BLEKITNY" [routerLink]="['/']" tabindex="-1"
          label="{{'codes.generyczne.strona-startowa-main' | translate}}" ikona="strona_startowa"></mm-przycisk-ikona>
      </div>
      <div class="zmien-mape-przycisk">
      </div>

    </div>
    <!-- <div class="narzedzia-podstawowe" *mmTylkoDesktop>
      <mm-kontroler-narzedzi-podstawowych
        [mapa]="mapa"
        [grupyWarstwPodkladowych]="grupyWarstwPodkladowych">
      </mm-kontroler-narzedzi-podstawowych>
    </div> -->
    <mm-mobilny-kontroler-narzedzi [mapa]="mapa" *mmTylkoMobile></mm-mobilny-kontroler-narzedzi>
    <mm-kontroler-funkcji-dodatkowych *mmTylkoDesktop></mm-kontroler-funkcji-dodatkowych>
  </div>
  <div class="kontener">

    <div class="belka-boczna" [class.hidden]="interfejsUzytkownikaStan.belkaBocznaLewa.ukryta"
      [class.pokaz]="!interfejsUzytkownikaStan.belkaBocznaLewa.zwinieta">
      <div class="belka-boczna-kontroler-widocznosci" (click)="zmienStanPaskaBocznego()">
        <mm-przycisk-ikona *ngIf="!interfejsUzytkownikaStan.belkaBocznaLewa.zwinieta"
          label="{{'codes.modul-mapowy.generyczne.ukryj' | translate}}" ikona="ukryj"></mm-przycisk-ikona>
        <mm-przycisk-ikona *ngIf="interfejsUzytkownikaStan.belkaBocznaLewa.zwinieta"
          label="{{'codes.modul-mapowy.generyczne.pokaz' | translate}}" ikona="pokaz"></mm-przycisk-ikona>
      </div>
      <mm-boczna-belka-kontener [mapy]="mapy" [mapa]="mapa" [mapView]="mapView"
        [class.hidden]="interfejsUzytkownikaStan.belkaBocznaLewa.zwinieta" (zmianaStanuNarzedzia)="pokazPasekBoczny()">
      </mm-boczna-belka-kontener>
    </div>
    <div class="obszar-widokow">
      <mm-widok-mapy-narzedzia-sekcja [mapa]="mapa" [grupyWarstwPodkladowych]="grupyWarstwPodkladowych"
        (mapViewInitiallised)="passMapView($event)">
      </mm-widok-mapy-narzedzia-sekcja>
    </div>


    <div class="przyciski" *ngIf="!interfejsUzytkownikaStan.wyszukiwarka.ukryta"
      [class.pokaz]="!interfejsUzytkownikaStan.wyszukiwarka.zwinieta">
      <div class="przycisk-wyszukaj" (click)="aktywujWyszukiwarkeDomyslna()">
        <mm-przycisk-ikona
          typ="{{interfejsUzytkownikaStan.wyszukiwarka.aktywna == WYSZUKIWARKI.DOMYSLNA ? 'pomaranczowy' : 'bialy-pomarancz'}}"
          label="{{(!interfejsUzytkownikaStan.wyszukiwarka.zwinieta)&&(interfejsUzytkownikaStan.wyszukiwarka.aktywna === WYSZUKIWARKI.DOMYSLNA) ?
           ('codes.modul-mapowy.wyszukiwanie-w-portalu-mapowym.zwin' | translate) : ('codes.modul-mapowy.wyszukiwanie-w-portalu-mapowym.szukaj' | translate)}}" ikona="wyszukaj"></mm-przycisk-ikona>
      </div>
      <ng-template mmTylkoMobile>
        <div class="przycisk-pokaz" [class.ukryty]="interfejsUzytkownikaStan.wyszukiwarka.zwinieta"
          (click)="schowajWyszukiwarke()">
          <mm-przycisk-ikona label="{{'codes.modul-mapowy.wyszukiwanie-w-portalu-mapowym.zwin' | translate}}"
            ikona="pokaz"></mm-przycisk-ikona>
        </div>
      </ng-template>
    </div>
    <div *ngIf="!interfejsUzytkownikaStan.wyszukiwarka.ukryta"
      [class.mala-wysokosc]="((wyszukiwarkaMapowa?.obiektyAdresySkrzyzowania === null ||
          wyszukiwarkaMapowa?.obiektyAdresySkrzyzowania?.content?.length === 0) &&
          interfejsUzytkownikaStan.wyszukiwarka.aktywna === WYSZUKIWARKI.DOMYSLNA) || interfejsUzytkownikaStan.wyszukiwarka.zwinieta"
      [class.pokaz]="!interfejsUzytkownikaStan.wyszukiwarka.zwinieta" class="wyszukiwarka-mapowa-kontener">
      <mm-wyszukiwarka-mapowa #wyszukiwarkaMapowa [ukryta]="interfejsUzytkownikaStan.wyszukiwarka.zwinieta"
        class="w-full">
      </mm-wyszukiwarka-mapowa>
    </div>
  </div>
  <div class="pasek-stanu" *mmTylkoDesktop>
    <mm-pasek-stanu></mm-pasek-stanu>
  </div>
</div>
