<div class="serwis-mapowy">
  <div class="pasek-narzedzi">
    <div class="sekcja-lewa">
      <div class="strona-startowa-przycisk">
        <mm-przycisk-ikona [typ]="PRZYCISK_IKONA_TYP.BLEKITNY" [routerLink]="['/']" tabindex="-1"
          label="{{'codes.generyczne.strona-startowa-main' | translate}}" ikona="strona_startowa"></mm-przycisk-ikona>
      </div>
      <div class="zmien-mape-przycisk">
      </div>

    </div>
    <!-- <div class="narzedzia-podstawowe" *mmTylkoDesktop>
      <mm-kontroler-narzedzi-podstawowych
        [mapa]="mapa"
        [grupyWarstwPodkladowych]="grupyWarstwPodkladowych">
      </mm-kontroler-narzedzi-podstawowych>
    </div> -->
    <mm-mobilny-kontroler-narzedzi [mapa]="mapa" *mmTylkoMobile></mm-mobilny-kontroler-narzedzi>
    <mm-kontroler-funkcji-dodatkowych *mmTylkoDesktop></mm-kontroler-funkcji-dodatkowych>
  </div>
  <div class="kontener">

    <div class="belka-boczna"
      [class.hidden]="interfejsUzytkownikaStan.belkaBocznaLewa.ukryta"
      [class.pokaz]="!interfejsUzytkownikaStan.belkaBocznaLewa.zwinieta">
      <div class="belka-boczna-kontroler-widocznosci" (click)="zmienStanPaskaBocznego()">
        <mm-przycisk-ikona *ngIf="!interfejsUzytkownikaStan.belkaBocznaLewa.zwinieta"
          label="{{'codes.modul-mapowy.generyczne.ukryj' | translate}}" ikona="ukryj"></mm-przycisk-ikona>
        <mm-przycisk-ikona *ngIf="interfejsUzytkownikaStan.belkaBocznaLewa.zwinieta"
          label="{{'codes.modul-mapowy.generyczne.pokaz' | translate}}" ikona="pokaz"></mm-przycisk-ikona>
      </div>
      <mm-boczna-belka-kontener
        [mapy]="mapy"
        [mapa]="mapa"
        [class.hidden]="interfejsUzytkownikaStan.belkaBocznaLewa.zwinieta"
        (zmianaStanuNarzedzia)="pokazPasekBoczny()"
        >
      </mm-boczna-belka-kontener>
    </div>
    <div class="obszar-widokow">
      <mm-widok-mapy-narzedzia-sekcja [mapa]="mapa" [grupyWarstwPodkladowych]="grupyWarstwPodkladowych">
      </mm-widok-mapy-narzedzia-sekcja>
    </div>
  </div>
  <div class="pasek-stanu" *mmTylkoDesktop>
    <mm-pasek-stanu></mm-pasek-stanu>
  </div>
</div>

